[run]
omit = 
	__init__.py
	smc/actions/locators.py
	smc/actions/parser.py
	smc/actions/test.py
	smc/actions/shortcuts.py
	smc/elements/_build*
	smc/elements/collection_new*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    __str__
    pass
    raise NotImplementedError
    except ImportError
    if compat.PY3
    if recursive and is_pkg
    super
